@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

/* HEADER */
html, body {
  background-color: #eeeeee;
}

header {
  height: 80px;
  background-color: #111111;
  color: aliceblue;
}

.menu-items {
  list-style-type: none;
}

.menu-items li {
  padding-left: 8px;
  padding-right: 8px;
}

.menu-right {
  margin: 8px;
}

.menu-left {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 8px;
}

/* FOOTER */

footer {
  height: 50px;
  background-color: #111111;
  color: aliceblue;
}

.text-date {
  font-size: 11px;
  color: #808080;
}

.article {
  background-color: white;
  margin-bottom: 80px;
  padding: 30px;
}

.weather {
  background-color: white;
  margin-bottom: 80px;
  padding: 30px;
}

.main-section {
  background-color: #eeeeee;
}

.headline {
  margin-top: 20px;
}
